{% load static %}

{% load cart_tags %}

{% user_cart request as carts %}

<div class="dropdown-center">
    <button type="button" class="btn btn-transparent btn-gradient" id="modalButton" aria-expanded="false">
        <span id="products-in-cart-count">{{ carts.total_quantity }}</span>
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor"
             class="bi bi-cart" viewBox="0 0 16 16" style="margin-right: 5px;">
            <path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5M3.102 4l1.313 7h8.17l1.313-7zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4m7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4m-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2m7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2"/>
        </svg>
    </button>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <h3 class="text-center mb-4">· Ｃａｒｔ ·</h3>
                <div class="" id="cart-items-container">
                    <!-- Cart layout -->
                    {% include 'cart/includes/included_cart.html' %}
                    <!-- The cart layout end-->
                </div>
            </div>
        </div>
    </div>
</div>
