{% extends "base.html" %}
{% load static %}

{% load cart_tags %}

{% block content %}
    <div class="row">
        <div class="container mt-5">
            <div class="row">
                <!-- User profile -->
                <div class="col-md-4 mx-auto">
                    <div class="bg-white p-4 mb-4 mx-2 rounded custom-shadow">
                        <h3 class="text-center mb-1">· 𝘔𝘺 𝘗𝘳𝘰𝘧𝘪𝘭𝘦 ·</h3>
                        <form action="{% url "users:profile" %}" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12 mb-3 text-center">
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="id_first_name" class="form-label">𝘕𝘢𝘮𝘦</label>
                                    <input type="text" class="form-control" id="id_first_name"
                                           name="first_name"
                                           placeholder="Enter your name"
                                           value="{{ form.first_name.value }}"
                                           required>
                                    {% if form.first_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.first_name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="id_last_name" class="form-label">𝘓𝘢𝘴𝘵 𝘯𝘢𝘮𝘦</label>
                                    <input type="text" class="form-control" id="id_last_name"
                                           name="last_name"
                                           placeholder="Enter your last name"
                                           value="{{ form.last_name.value }}"
                                           required>
                                    {% if form.last_name.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.last_name.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="id_username" class="form-label">𝘜𝘴𝘦𝘳𝘯𝘢𝘮𝘦</label>
                                    <input type="text" class="form-control" id="id_username"
                                           name="username"
                                           placeholder="Enter your username"
                                           value="{{ form.username.value }}"
                                           required>
                                    {% if form.username.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.username.errors }}</div>
                                    {% endif %}
                                </div>
                                <div class="col-md-12 mb-3">
                                    <label for="id_email" class="form-label">𝘌𝘮𝘢𝘪𝘭</label>
                                    <input type="email" class="form-control" id="id_email"
                                           name="email"
                                           placeholder="Enter your email"
                                           value="{{ form.email.value }}"
                                           required>
                                    {% if form.email.errors %}
                                        <div class="alert alert-danger alert-dismissible fade show">{{ form.email.errors }}</div>
                                    {% endif %}
                                </div>
                            </div>
                            <button type="submit" class="btn btn-dark">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}